<!DOCTYPE html>
<html>
    <head><title>About</title>
       <style>
        h1{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 800;
            font-size: 85px;
            background: linear-gradient(to right,#532626,#17b817,#0b3f61 );
            color:rgb(252, 4, 4);
            
        }
        p{
            font-family: 'Georgia', serif;
            font-family: 'Times New Roman', sans-serif;
            color:rgb(74, 14, 151);
            font-size: 35px;
        }
        </style>
    </head>
    <body align="center">
        <h1 align="center">Contact Details</h1><br><br>
        <p align="left">Phone  : 8129240334</p>
        <p align="left">E-mail : ahsanm19@dsce.ac.in</p>
    </body>
</html>